Package: com.lemonflare.chzzkshield
Name: CHZZKShield
Version: 1.0.0
Architecture: iphoneos-arm
Description: CHZZK iOS ad request pre-block + ad-polling stub + auto skip button
Maintainer: lemonflare
Author: lemonflare
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 11.0)
